.carrossel {
    width: 400px;
    height: 400px;
    margin: 30px auto 10px;
    overflow: hidden;
    border-radius: 10px;
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carrossel img.ativa {
    display: block;
}

.botoes {
    text-align: center;
}

.botoes button {
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #0f4571;
    color: rgb(251, 250, 250);
    font-size: 16px;
}

body {
    background-color: #d6eaf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    display: block;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(17, 18, 19);
    text-align: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(11, 11, 11);
    text-align: center;
}
 header {
    padding: 20px;
 border-bottom: 1px solid #05d3f8;
 margin-bottom: 20px;
 text-align: center;
 border-radius: 5px;
 background-color: #3498db;
 }

 nav {
    margin-top: 10px;
 }

 nav button {
    padding: 8px 15px;
    margin: 5px;
    border: 1px solid #1b2631;
    cursor: pointer;
    border-radius: 5px;
 }

 section {
    background-color: #2980b9;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #1b2631;
    border-radius: 5px;
 }

 h2 {
    text-align: center;
    margin-bottom: 10px;
 }

 p {
    text-align: center;
    margin-bottom: 15px;
 }

 footer {
    background-color: #d6eaf8;
    color: rgb(12, 12, 12);
 }